{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_main_inner %}
    <div class="container-main">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form action="{{ path('frontend.TestFormPlugin.sendForm') }}" method="post" class="border-info border p-3">
                        {{ sw_csrf('frontend.TestFormPlugin.sendForm') }}
                        {% if (config('TestFormPlugin.config.title')) %}
                        <h1>{{ config('TestFormPlugin.config.title') }}</h1>
                        {% endif %}
                        {% if (config('TestFormPlugin.config.description')) %}
                        <p>{{ config('TestFormPlugin.config.description') }}</p>
                        {% endif %}
                        <div class="form-group row">
                            <label for="formName" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input name="name" type="text" class="form-control" id="formName" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="formEmail" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input name="email" type="email" class="form-control" id="formEmail">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="formPhone" class="col-sm-2 col-form-label">Phone</label>
                            <div class="col-sm-10">
                                <input name="phone" type="text" class="form-control" id="formPhone">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="formCity" class="col-sm-2 col-form-label">City</label>
                            <div class="col-sm-10">
                                <input name="city" type="text" class="form-control" id="formCity">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="formReason" class="col-sm-2 col-form-label">Reason</label>
                            <div class="col-sm-10">
                                <select name="reason" class="form-control" id="formReason">
                                    {% for reason in config('TestFormPlugin.config.reasons') %}
                                        <option>{{ reason }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="formMessage" class="col-sm-2 col-form-label">Message</label>
                            <div class="col-sm-10">
                                <textarea name="message" class="form-control" id="formMessage" rows="4" required></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Send form</button>
                    </form>
                </div>
            </div>
        </div>
        {% block page_content %}
            {% block cms_breadcrumb %}
                <div class="breadcrumb cms-breadcrumb container">
                    {% sw_include '@Storefront/storefront/layout/breadcrumb.html.twig' with {
                        context: context,
                        category: page.header.navigation.active
                    } only %}
                </div>
            {% endblock %}

            {% block cms_content %}
                <div class="cms-page">
                    {% block page_content_blocks %}
                        {% sw_include "@Storefront/storefront/page/content/detail.html.twig" with {'cmsPage': page.cmsPage} %}
                    {% endblock %}
                </div>
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
