<sw-page class="test-form-petitions-detail">

    <template #smart-bar-header>
        <template v-if="petition">
        <h2>{{ placeholder(petition, 'name', $tc('testform-petitions.detail.textHeadline')) }}</h2>
        <h4>{{ petition.createdAt | date({ hour: '2-digit', minute: '2-digit' }) }}</h4>
        </template>
    </template>
    <template #smart-bar-actions>
        <sw-button :disabled="isLoading" @click="onCancel">
            {{ $tc('testform-petitions.detail.buttonCancel') }}
        </sw-button>
        <sw-button-process
            class="test-form-petitions-detail__save-action"
            :isLoading="isLoading"
            v-model="isSaveSuccessful"
            :disabled="isLoading"
            variant="primary"
            @click.prevent="onSave">
            {{ $tc('testform-petitions.detail.buttonSave') }}
        </sw-button-process>
    </template>
    <template #content>
        <sw-card-view v-if="petition">
            <sw-container>
                <sw-text-field :label="$tc('testform-petitions.list.name')"
                               :placeholder="$tc('testform-petitions.list.name')"
                               v-model="petition.name">
                </sw-text-field>
                <sw-email-field :label="$tc('testform-petitions.list.email')"
                               :placeholder="$tc('testform-petitions.list.email')"
                               v-model="petition.email">
                </sw-email-field>
                <sw-text-field :label="$tc('testform-petitions.list.phone')"
                               :placeholder="$tc('testform-petitions.list.phone')"
                               v-model="petition.phone">
                </sw-text-field>
                <sw-text-field :label="$tc('testform-petitions.list.city')"
                               :placeholder="$tc('testform-petitions.list.city')"
                               validation="required"
                               required
                               v-model="petition.city">
                </sw-text-field>
                <sw-select-field :label="$tc('testform-petitions.list.reason')"
                                 :placeholder="$tc('testform-petitions.list.reason')"
                                 v-model="petition.reason">
                        <option v-for="r in reasons">{{ r }}</option>
                </sw-select-field>
                <sw-textarea-field :label="$tc('testform-petitions.list.message')"
                               :placeholder="$tc('testform-petitions.list.message')"
                               v-model="petition.message">
                </sw-textarea-field>
            </sw-container>
        </sw-card-view>
    </template>

</sw-page>