{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    {% block page_search %}
        <div class="cms-page aftersale-all-products-page">
            {% block page_search_headline %}
                <h2 class="text-align-center">
                    Thank you
                </h2>
                <h4 class="text-align-center">
                    Message was sent.
                </h4>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}



