{% block test_form_petitions_list %}
    <sw-page class="test-form-petitions-list">
        <template #smart-bar-header>
            <h2>
                Petitions
                <template v-if="total">({{ total }})</template>
            </h2>
        </template>

        <template #smart-bar-actions>
            <sw-button variant="primary" @click="onRefresh">
                {{ $tc('testform-petitions.list.titleSidebarItemRefresh') }}
                <sw-icon name="default-arrow-360-left" color="#fff"></sw-icon>
            </sw-button>
        </template>

        <template #content>
            <div class="sw-product-list__content">
                <sw-entity-listing ref="testformPetitionsGrid"
                                   v-if="total"
                                   class="sw-product-list-grid"
                                   :items="petitions"
                                   :columns="columns"
                                   :repository="repository"
                                   :showSelection="true"
                                   :isLoading="isLoading"
                                   detailRoute="testform.petitions.detail">
                    <template #column-createdAt="{ item }">
                        {{ item.createdAt | date({ hour: '2-digit', minute: '2-digit' }) }}
                    </template>
                </sw-entity-listing>

                <sw-empty-state v-if="!isLoading && !total"
                                :title="$tc('testform-petitions.list.messageEmpty')"></sw-empty-state>

            </div>
        </template>


    </sw-page>
{% endblock %}
